.toRule {
  margin-left: auto;
}

.ruleBox {
  position: relative;
  width: 839px;
  height: 1326px;
  overflow: hidden;
  background: url("/imgs/home/rule.png") no-repeat;
  background-size: 100% auto;

  .ruleMain {
    position: absolute;
    top: 356px;
    left: 154px;
    width: 558px;
    height: 800px;
    overflow: auto;
    font-size: 29px;
    line-height: 60px;
    color: #595757;
    letter-spacing: 1px;
  }
}
