.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 935px;
  height: 119px;
  font-size: 56px;
  font-weight: bold;
  color: #fff;
  background: url("@/assets/img/btnBg.png") no-repeat;
  background-size: 100% auto;
}
