.cardBox {
  position: relative;
  width: 100%;
  padding-top: 147.27%; // 图片 宽660 高972
  background: url("@/assets/img/cardBg.png") center no-repeat;
  background-size: 100% auto;

  .main {
    position: absolute;
    top: 16%;
    left: 50%;
    z-index: 1;
    width: 85%;
    overflow: hidden;
    border-radius: 20px;
    transform: translate(-50%);
  }
}
