.page {
  position: relative;
  min-height: 100%;
  background: url("/imgs/my/bg.png") no-repeat;
  background-color: #fff;
  background-size: 100% auto;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 723px;
  padding-top: 50px;
  overflow: hidden;

  .progressBar {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 215px;

    :global {
      .adm-progress-circle-info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }

    .tips {
      position: relative;
      top: -10%;
      left: 0;
      font-size: 30px;
      color: #163d88;
    }

    .img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .textContainer {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    height: 215px;

    p {
      font-size: 36px;
      font-weight: bold;
      line-height: 45px;
      color: #2753a8;
      .create-text-shadow(#fff,2px);
    }

    div {
      margin-top: 20px;
      font-size: 35px;
      color: #fff;
    }
  }

  .btn {
    position: absolute;
    bottom: 30%;
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.main {
  margin-top: -60px;
  background: #fff;
  border-radius: 48px 48px 0 0;

  p {
    padding: 80px 60px 55px;
    font-size: 37px;
    color: #595757;
  }

  .cards {
    :global {
      .adm-swiper-slide {
        transition: all 0.3s ease-in-out;
        transform: scale(0.9);
      }

      .adm-swiper-slide-active {
        transform: scale(1);
      }
    }
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 660px;
    user-select: none;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
